{extend name="../twb/admin/view/public/list.html" /}<!-- 模板继承 -->

{block name="title"}权限资源列表{/block}

{block name="body"}

<section class="p-3 m-auto">
    <div class="card">
        <div class="card-header border-primary bg-transparent py-2">
            <h5 class="text-center float-left m-0" style="line-height: 38px"><i class="fas fa-bars"></i>&nbsp;权限资源列表</h5>
            <div class="btn-group float-right"  role="group" aria-label="Basic example">
                <button title="修改 / 添加" onclick="layer_handle('{:url("admintp/system/right")}')" class="btn btn-success" type="button"> <i class="fas fa-pencil-alt fa-lg"></i></button>
                <button title="删除 / 回收站" onclick="layer_handle('{:url("admintp/system/rightRecycle")}','/admintp/System/rightHandle')" class="btn btn-danger" type="button"><i class="far fa-trash-alt fa-lg"></i></button>
                <button title="全选" onclick="check_all(this)" class="btn btn-warning" type="button"> <i class="fas fa-check-double fa-lg selected-ico"></i></button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="flexigrid" class="card-body table-responsive-md py-3">
            <!--ajax 返回 -->
        </div>
    </div>
</section>

{/block}


{block name="script"}
<script type="text/javascript">

$(function (){
    ajax_get_table('/admintp/system/ajaxRightList','');// ajax加载列表
});

/*DataTables表格配置和初始化*/
function dataTable_ajax() {
    /*DataTables表格配置*/
    $('#table_id').DataTable({
        order: [[0,'desc']],//默认排序
        info:false,//禁用左下角信息
        paging:false,//禁用分页
        renderer: "bootstrap",//指定渲染器,不设置一样
        deferRender: true,//大量数据则延迟渲染
        scrollX: false,// 水平滚动条
        // scrollY: 250,// 垂直滚动条,固定高
        scrollCollapse: false,//(当显示更少的记录时，表格减少高度)
        autoWidth: true,//自动列宽
        stripeClasses: ['strip1'],//斑马条效果的class
        lengthChange: false,//开启数量选择
        //国际化,这里直接链接文件
        language: {
            url: '__STATIC__/admin/js/dataTable_zh-cn.js'
        },
        //列的操作
        columnDefs: [
            {   "targets": [3],//指定列
                "orderable": false,//禁用列排序
            },{ "targets": [1],
                "render": function (data,type) {
                    //判断正交数据的'显示数据'类型
                    if (type === 'export') {
                        var a = document.createElement("a");
                        a.innerHTML = data;//把字符串data转换成dom节点
                        return  a.childNodes[1]?a.childNodes[1].value:a.childNodes[0].value;//return dom节点的value值
                    }else{return data;}
                }
            },{
                "targets": [3],
                "render": function (data,type) {
                  return type === 'display' && data.length > 80 ?
                          '<span title="'+data+'">'+data.substr(0,78)+'...</span>':data;//显示类型&&过长则省略
                }
            },{
                "targets":[0,1],
                "responsivePriority":0//列的自适应隐藏等级
            }

        ],
        /*
        显示位置,这用了bootstrap4所对应的class,具体参考文档的dom模块
        l:数量选择,f:搜索过滤,t:表格,r:(应该是表行),i:表信息,p:分页,B:导出按钮
        */
        dom: "<'w-100'<'float-left mr-1'l><'float-left'f><'float-right'B><'clearfix'>>"+"<'row'<'col-sm-12'tr>>"+"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        // dom: "Blfrtip",
        //导出表格操作
        buttons: [
            {   "extend": 'colvis',//筛选列
                "text": '',// 按钮显示文字
                "className": 'fas fa-filter btn-info',//设置class
                "titleAttr": '筛选列',//设置title属性
                "columns": [0,2,3]//允许筛选的列
            },{
                extend: 'collection',
                text: '',
                className: 'fas fa-file-export btn-secondary',
                titleAttr:  '导出表格',
                autoClose: true,//选择后,自动关闭
                buttons: [
                    {  "extend": 'excel',//导出excel的扩展
                        "text": '',
                        "className": 'far fa-file-excel fa-2x text-center',
                        "titleAttr":  'Excel文件',
                        "exportOptions":{
                            columns: [0,1,2,3],//指定打印的列
                            orthogonal: 'export'//为信息显示设置特定的正交数据请求类型(作用于render事件所返回的type值)
                        }
                    },{ "extend": 'csv',
                        "text": '',
                        "className": 'fas fa-file-csv fa-2x text-center',
                        "titleAttr":  'CSV文件',
                        "exportOptions":{
                            columns: [0,1,2,3],
                            orthogonal: 'export'//为信息显示设置特定的正交数据请求类型(作用于render事件所返回的type值)
                        }
                    },{ "extend": 'pdf',
                        "text": '',
                        "className": 'far fa-file-pdf fa-2x text-center',
                        "titleAttr":  'PDF文件',
                        "exportOptions":{
                            columns:[0,1,2,3],
                            orthogonal: 'export'//为信息显示设置特定的正交数据请求类型(作用于render事件所返回的type值)
                        }
                    },{ "extend": 'copy',
                        "text": '',
                        "className": 'far fa-copy fa-2x text-center',
                        "titleAttr":  '复制到剪贴板',
                        "exportOptions":{
                            columns: [0,1,2,3],
                            orthogonal: 'export'//为信息显示设置特定的正交数据请求类型(作用于render事件所返回的type值)
                        }
                    },{ "extend": 'print',
                        "text": '',
                        "className": 'fas fa-print fa-2x text-center',
                        "titleAttr":  '打印',
                        "exportOptions":{
                            columns: [0,1,2,3],
                            orthogonal: 'export'//为信息显示设置特定的正交数据请求类型(作用于render事件所返回的type值)
                        }
                    }]
            }],
        colReorder: true,//列排序
        keys: true,//单元格焦点
        responsive: true,//自适应
        fixedHeader: true,//表头固定
        //下拉框搜索
        initComplete: function () {
            var api = this.api(),
                targets=[2];//使用 下拉框搜索 的列
            api.columns().indexes().flatten().each(function(i){
                //i为当前遍历列的索引值
                if ($.inArray(i,targets) > -1) {
                    var column = api.column(i),
                        //默认的 option 提示选项
                        all='<select class="custom-select custom-select-sm w-auto ml-1"><option value="">全部 '+$(column.header()).html()+'</option></select>',
                        //id为table_id_length下插入下拉框,并设置事件过滤
                        select = $(all).appendTo($("#table_id_filter")).on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search( val ? '^'+val+'$' : '', true, false ).draw();
                        } );
                    //遍历当前列,去重,排序,并为下拉框添加选项
                    column.data().unique().sort().each(function(d,j){
                        select.append('<option value="'+d+'">'+d+'</option>');
                    });
                }
            });
        },

    });

}





</script>

{__block__}<!-- 继承原js -->

{/block}

